/*
Page specific settings
*/

#biopama_map{
  height:600px;
  width:100%;
}
.biopama-stats-item-chart {
  height: 300px;
}

.biopama-stats-item-chart {
  height: 300px;
}

.fa.fa-file-image {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 3em;
}
.fa.fa-file-powerpoint {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 3em;
}
.fa.fa-file-word {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 3em;
}
.fa.fa-file-video {
  font-family: "Font Awesome 6 Free";
  font-weight: 400;
  font-size: 3em;
}

.zoom-on-hover {
  position: relative;
  display: inline-block;
}

.image-container {
  position: relative;
}

.magnifier-icon {
  position: absolute;
  top: 52px;
  right: 42px;
  font-size: 24px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 50%;
  pointer-events: none;
}

.image-container img {
  display: block;
  max-width: 100%;
  transition: transform 0.2s ease-in-out;
}

/* .zoom-on-hover:hover img {
    transform: scale(1.2);
} */
