{% extends '@biopama_pame/pame-imetresourcesinner-page.html.twig' %}

{% block dashboard_content %}
  {% if user.hasPermission('administer nodes') %}
    <a href="/node/add/management_assessment_justificat?Theme=PAGE%20(Protected%20Area%20Governance%20and%20Equity)"
       class="use-ajax add-policy fancy_login_show_popup btn btn-primary" data-dialog-type="dialog"
       data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}">
      <i class="fas fa-plus"></i> Add a Resource
    </a>
  {% endif %}
  <div class="row">
    <div class="col-9">
      <div class="form-group biopama-filters d-flex text-nowrap my-2" id="biopama_filter">
        {{ drupal_block('views_exposed_filter_block:pame_imet_resources_sections-examples_imet_uses', wrapper=false) }}
      </div>
      <div class="contextual-region">
        {{ drupal_contextual_links('entity.view.edit_form:view=pame_imet_resources_sections&display_id=examples_imet_uses:') }}
        {{ drupal_view('pame_imet_resources_sections', 'examples_imet_uses') }}
      </div>
    </div>
    <div class="col-3">
      <div class="container-fluid text-white  opacity-75 p-3">
        <div class="bio-divider p-3"></div>
        <div class="contextual-region">
          {{ drupal_view('pame_imet_resources', 'right_menu') }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
