{% extends '@biopama_libraries/biopama-dashboard-page.html.twig' %}

{% block dashboard_menu %}
  {{ attach_library( 'biopama_pame/main' ) }}
  {% include 'pame-assessments-imet-menu.html.twig' %}
{% endblock %}

{% block dashboard_content %}
  <div class="container-fluid mb-2">
    <div class="row">
      <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-8">
        {{ drupal_contextual_links('entity.view.edit_form:view=pame_imet_resources&display_id=pame_imet_main_resources:') }}
        {{ drupal_view('pame_imet_resources', 'pame_imet_main_resources') }}
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12 col-xxl-4 text-align-center">
        {{ drupal_view('pame_imet_resources', 'block_1') }}
      </div>
    </div>
  </div>
{% endblock %}
