{% extends '@biopama_libraries/biopama-dashboard-page.html.twig' %}
{% block dashboard_menu %}
  {{ attach_library( 'biopama_pame/modal_ajax' ) }}
  {% include 'pame-assessments-imet-menu.html.twig' %}
  <div class="modal fade bd-example-modal-lg" id="modal_image_zoom" tabindex="-1"
       aria-labelledby="modal_image_zoom"
       aria-hidden="true">
    <div class="modal-dialog modal-medium">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-white">
          <img src="" alt="" class="img-fluid" id="modal_image">
        </div>
      </div>
    </div>
  </div>
{% endblock %}
