{% extends '@biopama_libraries/biopama-dashboard-page.html.twig' %}


{% block dashboard_menu %}
  {% include 'pame-assessments-imet-menu.html.twig' %}
{% endblock %}

{% block dashboard_content %}
  {{ drupal_contextual_links('entity.view.edit_form:view=pame_imet_know_more&display_id=block_1:') }}
  {{ drupal_view('pame_imet_know_more', 'block_1') }}
{% endblock %}
