
  <div class="row">
    <div class="col-12">
      <div class="contextual-region">
        {{ title }}
        {{ body }}
        {{ drupal_view('pame_video_modal', 'video') }}
      </div>
    </div>
  </div>
