{#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}
{% set filename = fields.field_document.content %}
{% set fileParts = filename|split('.') %}
{% set extension = fileParts[fileParts|length - 1] %}

{% set cssClass = '' %}
{% if extension == 'pdf' %}
  {% set cssClass = 'far fa-file-pdf' %}
{% elseif extension == 'mp4' or fields.field_document_video.content %}
  {% set cssClass = 'fa fa-file-video' %}
{% elseif extension == 'docx' %}
  {% set cssClass = 'fa fa-file-word' %}
{% elseif extension == 'pptx' %}
  {% set cssClass = 'fa fa-file-powerpoint' %}
{% elseif extension in ['jpeg', 'jpg', 'png'] %}
  {% set cssClass = 'fa fa-file-image' %}
{% else %}
  {% set cssClass = '' %}
{% endif %}
{# {% for key, field in fields %} #}
{#   <div class="field"> #}
{#     <strong>{{ key }}:</strong> {{ field.content }} #}
{#   </div> #}
{# {% endfor %} #}
<div class="page_doc_prev"></div>
<div class="card p-3 m-2 flex-grow-1">
  <div class="row flex-grow-1">
    <div class="col-lg-3 col-md-6 col-sm-12  resources-doc-thumb">
      {% if fields.field_document_video.content %}
        <a
          data-bs-toggle="modal" data-bs-target="#modal_{{ row._entity.id() }}"
          data-target=".bd-example-modal-lg" href="#">
          <i class="{{ cssClass }}" aria-hidden="true"></i>
        </a>
      {% else %}
        <a href="{{ fields.field_document.content }}" target="_blank"><i class="{{ cssClass }}"
                                                                         aria-hidden="true"></i></a>
    {% endif %}
    </div>
    {% if is_admin %}
      <div class="mx-auto">
        <a class="btn btn-light" href="{{ fields.edit_node.content }}" role="button">Edit</a>
      </div>
    {% endif %}
    <div class="col-lg-6 col-md-12 d-flex align-content-between flex-wrap">
      <div class="w-100">
        {% if fields.field_document_video.content %}
          <a
            data-bs-toggle="modal" data-bs-target="#modal_{{ row._entity.id() }}"
            data-target=".bd-example-modal-lg" href="#">
            {{ fields.title.content }}
          </a>
        {% else %}
          <a href="{{ fields.field_document.content }}" target="_blank">
            <div class="page-resources-title">{{ fields.title.content }}</div>
          </a>
        {% endif %}
      </div>
      <div class="w-100">
        {{ fields.field_document_publication_year.content }}
        <hr>
        {{ fields.field_document_type.content }}
      </div>
      <div class="w-100">
        {% if fields.field_document_video.content %}
          <a
            data-bs-toggle="modal" data-bs-target="#modal_{{ row._entity.id() }}"
            data-target=".bd-example-modal-lg" href="#">
            <i>Link</i>
          </a>
        {% else %}
          <a href="{{ fields.field_document.content }}" target="_blank">
            <i>Link</i>
          </a>
        {% endif %}
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12 ">
      {% if fields.field_document_image.content %}
        <div class="zoom-on-hover text-center" data-original-url="{{ fields.field_document_image_1.content }}">
          <div class="image-container">
            <i class="fa-solid fa-magnifying-glass magnifier-icon"></i>{{ fields.field_document_image.content }}</div>
        </div>
      {% endif %}
    </div>
  </div>

</div>

{% if fields.field_document_video.content %}
  {# Create attributes object for the modal #}
  {% set modal_attributes = create_attribute() %}
  {% set modal_attributes = modal_attributes
    .addClass([
      'modal',
      'fade',
      'bd-example-modal-lg',
      'video-modal'
    ])
    .setAttribute('id', 'modal_' ~ row._entity.id())
    .setAttribute('tabindex', '-1')
    .setAttribute('aria-labelledby', 'modal_' ~ row._entity.id())
    .setAttribute('aria-hidden', 'true')
    .setAttribute('data-video-content', fields.field_document_video.content|escape) %}

  <div{{ modal_attributes }}>
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-white">{{ fields.title.content }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-white text-center">
          <div id="video-placeholder-{{ row._entity.id() }}"></div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
