<a href="{{ fields.field_pame_imet_link.content }}">
  <div class="row dashboard-left-menu-item m-0 p-2 text-white align-items-center">
    <div class="col-2 text-align-center"></div>
    <div class="col-8">{{ fields.title.content }}</div>
  </div>
</a>

